<style>
    .ride_pic{
        width:100px;
        height: 100px;
    }
</style>

<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
<script>
    var $container = $('.grid-content');
    $container.imagesLoaded( function () {
        $container.masonry({
            columnWidth: '.grid-item',
            itemSelector: '.grid-item'
        });
    });
</script>
<!-- Top rides start -->
<div id="toprides">
    <h1 id="toprides_txt">Latest Rides</h1>
    <% if(ride_list.length == 0){ %>
    <div class="flash-error">
        <h2>oops :( no rides found. <a href="/find">Go back</a></h2>
    </div>
    <% }else{ %>
    <div class="container-fluid">
        <div class="row grid-content"></div>
        <% ride_list.forEach(function(ride_data) { %>
            <div class="col-sm-6 col-md-3 col-xs-12 grid-item">
                <div class="panel panel-default">

                    <div class="panel-body">
                        <div class="user-info-sidebar">
                            <a href="#" class="user-img">
                                <img src="<%= ride_data.profile_pic%>" alt="user-img" class="img-cirlce img-responsive
                                img-thumbnail ride_pic">
                            </a>
                            <br/>
                            <a href="#" class="user-name">
                                <h3 class=""><%= ride_data.name %> <%= ride_data.lastname %></h3>
                                <span class="user-status is-online"></span>
                            </a>


                            <hr>

                            <ul class="list-unstyled user-info-list">

                                <li>
                                    <img src="images/icons/Location.svg"></i>
                                    <strong><span><%= ride_data.source %></span></strong> <BR><span class="text-center"> TO </span> <strong><span><%= ride_data.destination %></span></strong>
                                </li>
                                <br/>
                                <li>
                                    <img src="images/icons/Date_O_T-01.svg"></i>
                                    <%var travel_date = ride_data.travel_date.toString()%>
                                    <% var date = travel_date.split("00:");%>
                                    <strong><span><%= date[0]%></span></strong>
                                </li>
                                <br/>
                                <li>
                                    <img src="images/icons/Time_O_T-01.svg"></i>
                                    <strong><span><%= ride_data.travel_time %></span></strong>
                                </li>
                                <br/>
                                </li>
                                <img src="images/icons/travel%20rate-01.svg"></i>
                                <strong><b><%= ride_data.Rate%></b></strong><small> per passenger</small>.
                                </li>
                                <br/>
                                <br/>
                                <li>
                                    <% var splittedWaypoints = ride_data.waypoints.split(",")%>
                                    <img src="images/icons/in_btwn_location-01.svg"></i>
                                    <% splittedWaypoints.forEach(function(waypoint){%>
                                    <strong><span class="tag label label-warning"><%= waypoint %></span></strong>
                                    <%});%>
                                </li>
                            </ul>

                            </ul>
                            <button class="btn btn-primary btn-icon btn-icon-standalone" id="phnbtn1">
                                <i class="fa fa-phone-square"></i>
                                <span><%=ride_data.phone%></span>
                            </button>


                        </div></div></div>
            </div>
        <% }); %>
        <%}%>
    </div>
        <!-- View more------------------------------------------------------------------------------------------ -->


        <div class="row">
            <div class="col-sm-4 col-md-4 col-xs-3"></div>
            <div class="col-sm-4 col-md-4 col-xs-6" id="viewmore_button">	<button type="button" class="btn btn-success btn-block  ">
                    View More
                </button></div>
            <div class="col-sm-4 col-md-4 col-xs-3"></div>
        </div>
        <!-- View more end--------------------------------------------------------------------------------------------->




        <!-- Main menu end -->

        <!-- Bottom Scripts -->
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/TweenMax.min.js"></script>
        <script src="assets/js/resizeable.js"></script>
        <script src="assets/js/joinable.js"></script>
        <script src="assets/js/xenon-api.js"></script>
        <script src="assets/js/xenon-toggles.js"></script>


        <!-- JavaScripts initializations and stuff -->
        <script src="assets/js/xenon-custom.js"></script>
        <textarea tabindex="-1" style="position: absolute; top: -999px; left: 0px; right: auto; bottom: auto; border: 0px; padding: 0px; box-sizing: content-box; word-wrap: break-word; overflow: hidden; transition: none; height: 0px !important; min-height: 0px !important; font-family: Arimo, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; font-weight: 400; font-style: normal; letter-spacing: 0px; text-transform: none; word-spacing: 0px; text-indent: 0px; line-height: 18.5714px; width: 53px;" class="autosizejs" id="autosizejs"></textarea>
</div>