<style>
    .ride_pic{
        width:100px;
        height: 100px;
    }
    .action-links a{
        display: inline-block !important;
        font-size: inherit !important;
        border: 1px solid rgba(108, 108, 116, 0.0);
        padding: 10px;
    }
    .action-links a:hover{
        border-radius: 10px;
        background: #ffffff;
        border: 1px dashed rgba(108, 108, 116, 0.48);
    }
</style>
<link rel="stylesheet" href="/stylesheets/fonts/linecons/css/linecons.css" id="style-resource-2">

<!-- Top rides start -->
<div id="toprides">
    <h1 id="toprides_txt"><%= session.loggedUsername %>'s Rides</h1>
    <% if(ride_list.length == 0){ %>
    <div class="flash-error">
        <h2>oops :( no rides found. <a href="/find">Go back</a></h2>
    </div>
    <% }else{ %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 panel">
                <table class="table table-hover members-table middle-align">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="hidden-xs hidden-sm"></th>
                        <th><i class="fa-road"></i> Location</th>
                        <th class="hidden-xs hidden-sm"><i class="fa-calendar-o"></i> Date</th>
                        <th><i class="fa-map-marker"></i> waypoints</th>
                        <th><i class="fa-gear"></i> settings</th>
                    </tr>
                    </thead>
                    <tbody>
        <% ride_list.forEach(function(ride_data) { %>
                    <tr data-ride="<%= ride_data.id %>">
                        <td>
                            <div class="cbr-replaced cbr-checked"><div class="cbr-input"><input type="checkbox" class="cbr cbr-done" name="members-list[]" value="1" checked=""></div><div class="cbr-state"><span></span></div></div>
                        </td>
                        <td class="user-image hidden-xs hidden-sm">
                            <a href="#">

                            </a>
                        </td>
                        <td>
                            <a href="#" class="name"><%=(ride_data.source.split(','))[0]%></a>
                            <span>TO</span>
                            <a href="#" class="name"><%=(ride_data.destination.split(','))[0]%></a>
                        </td>
                        <td>
                            <span class="date">
                                <% var options = {
                                    weekday: "long", year: "numeric", month: "short",
                                    day: "numeric"
                                };%>
                                <% var travel_date = new Date(ride_data.travel_date.toString())
                                        .toLocaleDateString("en-us",options); %>
                                <%= travel_date %>
                            </span>
                        </td>
                        <td>
                            <% var splittedWaypoints = ride_data.waypoints.split(",")%>
                            <% splittedWaypoints.forEach(function(waypoint){%>
                             <span class="label label-info"><%=waypoint%></span>
                            <%});%>
                        </td>
                        <td class="action-links">
                            <a href="#" class="edit">
                                <i class="linecons-pencil"></i>
                                Edit
                            </a>
                            <a href="#" class="delete-ride">
                                <i class="linecons-trash"></i>
                                Delete
                            </a>
                        </td>
                    </tr>
        <% }); %>
                    </tbody>
                </table>
                </div>
        </div>
        </div>
        <%}%>

    <!-- Main menu end -->
    <br/>

    <!-- Bottom Scripts -->
    <link rel="stylesheet" href="/javascripts/toastr/toastr.css" type="text/css"/>
    <script src="/javascripts/toastr/toastr.min.js"></script>
    <script src="/javascripts/rides.js"></script>

    <!-- JavaScripts initializations and stuff -->
    <script src="assets/js/xenon-custom.js"></script>



