<br/>
<script>
    var waypts = [];
</script>
<div class="container-fluid">
    <!-- ride+profile ------------------------------------------------------------------------------------------ -->
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default ride_details">
                <div class="panel-heading">
                    Ride Details
                </div>
                <ul id="ride_text">
                    <li><span><%= ride_details.source%></span></li>
                    <li><img id="way" src="/images/icons/way-01.svg"></li>
                    <li><span><%= ride_details.destination%></span></li>
                    <li><div class="panel-heading">
                            <br><p>About this ride</p>
                        </div></li>
                    <li class="description">
                        <span><%= ride_details.purpose%></span>
                    </li>
                    <!-- Date Time Rate-------------------------------------------------------->
                    <br>
                    <div class="date_time">
                        <div class="row">
                            <div class="col-md-6 col-sm-4- col-xs-12">
                                <button class="btn btn-orange btn-icon btn-icon-standalone btn-lg date">
                                    <i class="fa-calendar"></i>
                                    <%
                                    var date = new Date(ride_details.travel_date);
                                    var formattedDate = date.toDateString();
                                      %>
                                    <span><%= formattedDate %></span>
                                </button>
                            </div>
                            <div class="col-md-3 col-sm-2 col-xs-12">
                                <button class="btn btn-secondary btn-icon btn-icon-standalone btn-lg rate">
                                    <i class="fa-money"></i>
                                    <span><%= ride_details.Rate%></span>
                                </button>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <button class="btn btn-info btn-icon btn-icon-standalone btn-lg time">
                                    <i class="fa-clock-o"></i>
                                    <span><%= ride_details.travel_time%></span>
                                </button>
                            </div>
                        </div>
                        <!-- Date Time Rate end-------------------------------------------------------->
                        <!-- Call Button-------------------------------------------------------->
                        <div class="call">
                            <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                                <button class="btn btn-purple btn-icon btn-icon-standalone btn-lg">
                                    <i class="fa-phone"></i>
                                    <span><%= user_details.phone%></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Call Button-------------------------------------------------------->

                    <br>
                    <div class="stop_points">
                        <li><img src="/images/icons/stop_points-01.svg"> <div  class="panel-heading"><p>Stop Points</p> </div>  </li>
                        <li id="stop_point_list">
                            <% var splittedWaypoints = ride_details.waypoints.split(",")%>
                            <% splittedWaypoints.forEach(function(waypoint){%>
                             <script>
                                 waypts.push({
                                   location: '<%=waypoint%>',
                                     stopover:true
                                 });
                             </script>
                            <span class="btn btn-primary btn-lg"><%= waypoint %></span>
                            <%});%>
                        </li>
                        <li>
                            <br><p>Co-passenger preferance</p>
                            <% if(ride_details.passenger == 'm'){%>
                            <span data-toggle="tooltip" title="Males only"><img src="/images/icons/male-01.svg"</span>
                            <%}else{%>
                              <%if(ride_details.passenger == 'f'){%>
                            <span data-toggle="tooltip" title="Females only" ><img src="/images/icons/female-01.svg"</span>
                                <%}%>
                            <%}%>
                        </li>
                        <li>
                            <br><p>Restrictions</p>
                            <span><img src="/images/icons/cigarettes-01.svg"></span>
                            <span><img src="/images/icons/no%20Liquor%20-01.svg"></span>
                            <span><img src="/images/icons/music-01.svg"></span>
                        </li>
                </ul>
            </div>

        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <!-- Map---------------------------------------------------------------------------------------------->
            <div class="panel panel-default  route_map">
                <div class="panel-heading">
                    <h3 class="panel-title">Route Map</h3>
                    <div class="panel-options">
                        <a href="#" data-toggle="panel">
                            <span class="collapse-icon">–</span>
                            <span class="expand-icon">+</span>
                        </a>
                        <a href="#" data-toggle="remove">
                            ×
                        </a>
                    </div>
                </div>
                <div class="panel-body no-padding">
                    <div id="map" style="height: 365px; width: 100%" ></div>

                </div>
                <!-- Map---------------------------------------------------------------------------------------------->
            </div>
            <!-- Rider Information-------------------------------------------------------->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default ">
                        <div class="panel-heading">Rider Information</div>
                        <br>
                        <ul class="rider-info">
                            <li> <span><img src="/<%= user_details.profile_pic %>" class="img-thumbnail"></span></li>
                            <li> <span><%= user_details.name %> <%= user_details.lastname %> </span></li>
                            <li><p>Age: <br><span><%= user_details.dob %></span></li>
                            <li><p>Job: <br><span><%= user_details.occupation %></span></li>
                            <li><p>Email: <br><span><%= user_details.email %></span></li>
                            <li><p>Company: <br><span><%= user_details.company %></span></li>
                        </ul>
                        <!-- Vehicle Information-------------------------------------------------------->
                        <div class="panel-heading">Vehicle Information</div>
                        <ul class="vehicle-info">
                            <li> <span><img src="/<%= car_details.photo %>" class="img-thumbnail"></span></li>
                            <li><p>Vehicle Model: <span><%=car_details.model%></span></li>
                            <li><p>Manufacturer: <span><%=car_details.manufacturer%></span></li>
                            <li><p>Reg. Number: <span><%= car_details.regnumber%></span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- vehicle Information end-------------------------------------------------------->
        </div>

    </div>
</div>
<!-- ride+profile end------------------------------------------------------------------------------------------ -->

</div>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script>
        function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: {lat: 20, lng: 78}
        });
        directionsDisplay.setMap(map);


            function calculateAndDisplayRoute(directionsService, directionsDisplay ,waypts) {
                directionsService.route({
                    origin: '<%=ride_details.source%>',
                    destination: '<%=ride_details.destination%>',
                    waypoints: waypts,
                    optimizeWaypoints: true,
                    travelMode: google.maps.TravelMode.DRIVING
                }, function(response, status) {
                    if (status === google.maps.DirectionsStatus.OK) {
                        directionsDisplay.setDirections(response);
                    } else {
                        window.alert('Directions request failed due to ' + status);
                    }
                });
            }
            calculateAndDisplayRoute(directionsService, directionsDisplay,waypts);
        }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgv2PpFkhSN92tgs0g82VfU7nybuE-8Eg&signed_in=false&libraries=places&callback=initMap"
        async defer></script>